In [1]:
import os
from methods.preprocess import Preprocess
import pandas as pd
from methods.runner import Runner

In [6]:
min_validation_size = 4
num_steps = 4
validation_split = 0.05
min_size = min_validation_size * (num_steps - 1) / validation_split
folder = "data/"

files = sorted(os.listdir(folder))

print("Total files: ", len(files))
used_files = 0

preprocess = Preprocess()
runner = Runner(None)
merged_df = None

for file in files:
	df = pd.read_csv(os.path.join(folder, file), index_col='Period').sort_index()

	if df.shape[0] < min_size:
		continue

	df = runner.get_df(df)

	if merged_df is None:
		merged_df = df

	else:
		merged_df = pd.concat([merged_df, df])

	used_files += 1

print("Used files: ", used_files)

Total files:  253
Used files:  89

In [7]:
merged_df.sort_index()

              value
Period
200001     25169791
200001    178519057
200001   3446768506
200002     51414485
200002     77830442
...             ...
202201  35001962614
202202  34906340161
202202   3661464024
202202  20004018826
202202  62406700356

[12564 rows x 1 columns]